logs

project/project
project/target
target

.metals/
.bloop/
.vscode/
.bsp/

lib_managed
tmp
.history
dist

.idea/
.idea_modules/

*.iml
*.ipr
*.iws

.classpath
.project
.settings

out/
RUNNING_PID

node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log